ci:
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^tests/.*\.(?:patch|diff)$
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-added-large-files
        args: [--maxkb=9000]
      - id: check-yaml
      - id: check-toml
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.11
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.17.1'
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - types-docutils
          - rich
          - pytest
          - requests-mock
          - '.'
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell
