tbody .stub,
thead {
  background-color: var(--md-accent-bg-color--light);
  color: var(--md-default-bg-color);
}

.md-header,
.md-tabs,
.md-nav--primary .md-nav__title[for="__drawer"] {
  background-color: #4051b5;
}
