name: Analyze CI workflows

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  analyze-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.x'
      - name: Run zizmor
        env:
          GH_TOKEN: ${{ github.token }}
        run: pipx run zizmor .github/workflows/*.yml
