name: Release Drafter

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions: {}

jobs:
  # Draft your next Release notes as Pull Requests are merged into the default branch
  draft-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
